<!-- <ul style="list-style-type:none">
  <%= render partial: "recipe", collection: @recipes %>
</ul> -->


        <li>Recipe name: <%= @recipe.name %></li><br>
        <li><%= image(@recipe.image, size: "50x50") %></li>
        <li>Recipe label: <%= @recipe.label %></li><br>
        <li>Recipe cautions: <%= @activity.cautions %></li><br>
        <li>Recipe ingredientLines: <%= @recipe.ingredientLines %></li><br>
        <li>Recipe ingredients: <%= @recipe.ingredients %></li><br>
        <li>Recipe totalNutrients: <%= @recipe.totalNutrients %></li><br>
        <li>Recipe bookmarked: <%= @recipe.bookmarked %></li><br>

        <li><%= link_to "Visit Recipe Page", @recipe.url %></li><br>


