<%= form_for @recipe do |f| %>
    <div class="form-group">
      <label for="recipe-name">Recipe name</label>
      <%= f.text_field :name, placeholder: "Recipe name", class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="recipe-label">Recipe label</label>
      <%= f.text_field :label, placeholder: "Recipe label", class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="recipe-cations">Recipe cautions</label>
      <%= f.text_field :cautions, placeholder: "Recipe cautions", class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="recipe-ingredientLines">Recipe ingredient lines</label>
      <%= f.text_field :cautions, placeholder: "Recipe ingredient Lines", class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="recipe-ingredients">Recipe ingredients</label>
      <%= f.text_field :cautions, placeholder: "Recipe ingredients", class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="recipe-totalNutrients">Recipe totalNutrients</label>
      <%= f.text_field :cautions, placeholder: "Recipe totalNutrients", class: 'form-control' %>
    </div>
    <div class="form-group">
      <label for="recipe-bookmarked">Recipe bookmarked</label>
      <%= f.text_field :cautions, placeholder: "Recipe bookmarked", class: 'form-control' %>
    </div>
    <%= f.button "Submit", class: 'btn btn-primary' %>
<% end %>