<!DOCTYPE html>
<html>
  <head>
    <title>WipIt0</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <div class="container">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">PlanDuh</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExample04" style="">
        <ul class="navbar-nav ml-auto">
          <% if logged_in? %>

          <li class="nav-item active"><%= link_to "#{current_user.first_name}'s Profile", user_path(current_user.id), class: "nav-link"  %></li>
          <li class="nav-item active"><%= link_to "Logout", logout_path, class: "nav-link" %></li>

          <% else %>
          <li class="nav-item active"><%= link_to "Home", root_path, class: "nav-link"  %></li>

          <li class="nav-item active"><%= link_to "Register", new_user_path, class: "nav-link" %></li>

          <li class="nav-item active"><%= link_to "Login", new_session_path, class: "nav-link" %></li>
          <% end %>
        </ul>

      </div>
    </nav>


      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert") %>

      <% end  %>
    <%= yield %>
  </body>
</html>
